.pytest_cache/
.ruff_cache/
.mypy_cache/
.venv/
.coverage
.coverage.*
htmlcov/
build/
dist/
*.egg-info/
__pycache__/
*.pyc
*.pyo
*.pyd
*.log
.idea/
/tests-output/
/tmp/
/tmp_test_settings/
/tmp_test_settings2/
/coverage/
/site/
/shapefiles/
/devtools/
/.devcontainer/
/.vscode/
/goes_timelapse/.mypy_cache/
/goes_timelapse/.pytest_cache/
/data/
/media/
/config/
/tests/
/scripts/
/pyproject.toml
